html, body {
    margin: 0;
    height: 100%;
}

#__next {
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.row-one {
    height: 40px;
    margin: 3px;
}

.input-box {
    width: 79%;
    position: relative;
    margin-left: 2px;
}

.input-box .input {
    float: left;
    height: 30px;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
}
.close {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 5px;
    right: -3px;
    float: left;
    cursor: pointer;
}
.search-box {
    width: 16%;
    float: right;
}
.search-box .search {
    width: 100%;
    min-width: 60px;
    height: 35px;
    font-size: medium;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.row-two {
    height: 21px;
    margin: 3px;
    display: none;
}

.sort-by span {
    margin-right: 5%;
    cursor: pointer;  
    color: orangered;  
}

.row-three {
    flex: 1;
    overflow-y: auto;
}
.row-three .good-list {
    height: 150px;
    position: relative;
    margin: 3px;
    padding-top: 5px;
    cursor: pointer;
}
.row-three .good-img {
    float: left;
    position: absolute;
}
.row-three img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
}
.row-three .good-info {
    margin-left: 155px;
}
.row-three .good-info .good-title {
    display: block;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.row-three .good-info .coupon {
    margin-top: 15px;
}
.row-three .good-info .coupon .coupon-price {
    font-size: larger;
    color: red;
}
.row-three .good-info .good-price {
    margin-top: 5px;
}
.row-three .good-info .good-price .sale-price {
    font-size: smaller;
    text-decoration: line-through;
}
.row-three .good-info .good-price .final-price {
    font-size: larger;
    color: red;
}
.row-three .good-info .good-shop {
    position: absolute;
    margin-top: 8px;
    right: 3px;
    font-size: small;
    color: orangered;
}

.filter {
    filter: grayscale(1);
}

.hidden {
    display: none;
}

.footer {
    width: 100%;
    height: 60px;
    background-color: white;
}

.footer div {
    cursor: pointer;
    float: left;
    width: 20%;
    height: 60px;
    display: flex;
    justify-content: center;
    position: relative;
}

.footer img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    border-radius: 20px;
}

.footer p {
    position: absolute;
    font-size: 0.8rem;
    bottom: 0;
    margin: 0;
}

.spinner-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #e5e5e555;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#tips {
    position: fixed;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #737373;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: bottom 0.5s ease;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#tips.show {
    bottom: 99px;
    opacity: 1;
}

.activity {
    flex: 1;
}

.activity-header {
    overflow-x: auto;
    margin-top: 3%;
    margin-bottom: 1%;
}

.activity-header span {
    font-size: large;
    color: orangered;
    width: 20%;
    display: inline-block;
    text-align: center;
}

.a-activity {
    text-align: center;
    padding: 3%;
}

.a-activity span {
    font-size: larger;
}

.a-activity img {
    width: 93%;
    height: auto;
    border-radius: 10px;
}