html, body {
    margin: 0;
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.row-one {
    height: 40px;
    margin: 3px;
}

.input-box {
    width: 79%;
    position: relative;
    margin-left: 2px;
}

.input-box .input {
    float: left;
    height: 30px;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
}
.close {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 5px;
    right: -3px;
    float: left;
}
.search-box {
    width: 16%;
    float: right;
}
.search-box .search {
    width: 100%;
    min-width: 60px;
    height: 35px;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 10px;
}

.row-two {
    height: 21px;
    margin: 3px;
}

.sort-by span {
    margin-right: 5%;
    cursor: pointer;    
}

.row-three {
    flex: 1;
    overflow-y: auto;
}
.row-three .good-list {
    height: 150px;
    position: relative;
    margin: 3px;
    padding-top: 5px;
}
.row-three .good-img {
    float: left;
    position: absolute;
    border-radius: 15px;
}
.row-three img {
    width: 150px;
    height: 150px;
}
.row-three .good-info {
    margin-left: 155px;
}
.row-three .good-info .good-title {
    display: block;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.row-three .good-info .coupon {
    margin-top: 15px;
}
.row-three .good-info .coupon .coupon-price {
    font-size: larger;
    color: red;
}
.row-three .good-info .good-price {
    margin-top: 5px;
}
.row-three .good-info .good-price .sale-price {
    font-size: smaller;
    text-decoration: line-through;
}
.row-three .good-info .good-price .final-price {
    font-size: larger;
    color: red;
}
.row-three .good-info .good-shop {
    position: absolute;
    margin-top: 8px;
    right: 3px;
    font-size: small;
}

.footer {
    width: 100%;
    height: 60px;
    background-color: white;
}

.footer div {
    cursor: pointer;
    float: left;
    width: 20%;
    height: 60px;
    display: flex;
    justify-content: center;
    position: relative;
}

.footer img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    border-radius: 20px;
}

.footer p {
    position: absolute;
    font-size: 0.8rem;
    bottom: 0;
    margin: 0;
}